@{
    ViewData["Title"] = "My Project Hub Home Page";
}
<div class="hero">
    <h1>Welcome to Planner Hub</h1>
</div>
<div class="container-hub">
    <div class="content">
        <h2>Meet the simple, powerful, reimagined project management tool for everyone.</h2>
        <p>Streamline workflows and gain clear visibility across teams to make strategic decisions with confidence. One platform to streamline all workflows.</p>
        <div class="buttons">
            <a asp-controller="Account" asp-action="Register" class="text-decoration-none float-start mt-2">Don't have account?</a>
            <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-sm float-end">Login</a>
        </div>
    </div>
</div>